# ignore debug/release directory,all object file 
Translator/debug/
Translator/release/
Translator/*.o

# ignore node_modules
Translator\ Server/node_modules/
Translator\ Server/package-lock.json

# Ignore useless file
Makefile*
.qmake.stash
*.pro.user
ui_mainwindow.h
ui_configbox.h
ui_historybox.h
object*
